@font-face {
    font-family: msyh;
    src: url('./配色与文字字体/汉仪乐喵体简.ttf')
}
body, html {
    font-family: msyh;
    width: 100%;
    margin: 0px;
}
#app {
    height: max-content;
    height: -webkit-fill-available;
    background: url("./login&register/背景.png") no-repeat;
    background-size: cover;
}
@media screen and (max-width: 410px) and (max-height: 740px){
    .moblie {
        height: 135vh !important;
        overflow: auto;
    }
}
